*.class
desktop.ini
/certificates
*.jks
*.cer
*.csr
*.env
/src/Tracker/out
/.idea
/src/Tracker/.idea
src/Tracker/Tracker.iml
src/Tracker/backend_layer.iml
/out
P2P-File-Sharing-System.iml
*.jar
/src/frontend_layer/dist
/src/frontend_layer/build
src/backend_layer/p2p_chat.db
